@model DeliCode.Web.Models.Product

<div class="card deck">
    <img class="card-img" src="@Model.ImageUrl" alt="@Model.Name">
    <div class="card-body">
        <div class="card-title">
            @Model.Name
        </div>
        <div class="card-text">
            @Model.Description
        </div>
        <div class="buy d-flex justify-content-between align-items-center">
            <div class="price text-success"><h5 class="mt-4">SEK @Model.Price</h5></div>
            @Html.HiddenFor(product => product.Id)
            @if (Model.AmountInStorage == 0)
            {
                <button type="submit" class="btn btn-secondary disabled">Slut i lager</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" onclick="AddToCart('@Model.Id')">Lägg till</button>
            }
            <a href="@Url.Action("Details", "Product",new { productId = Model.Id })" , class="btn btn-info">Visa</a>
        </div>
    </div>
</div>
