@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DeliCode.Web.Models.Order


<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h3 style="color: #5e676f">Ordernummer: <span class="font-weight-bold">@Model.Id</span></h3>

                        <div class="page-content page-container" id="page-content">
                            <div>
                                <h3 style="color: #5e676f">Order status: <span class="font-weight-bold">@Model.Status</span></h3>
                            </div>

                            <form asp-action="EditOrder" asp-controller="Admin">
                                @Html.HiddenFor(x => x.Id)
                                @Html.HiddenFor(x => x.OrderDate)
                                @for (int i=0;i<Model.OrderProducts.Count;i++)
                                {
                                    @Html.HiddenFor(v => Model.OrderProducts[i].Id)
                                    @Html.HiddenFor(v => Model.OrderProducts[i].Name)
                                    @Html.HiddenFor(v => Model.OrderProducts[i].OrderId)
                                    @Html.HiddenFor(v => Model.OrderProducts[i].Price)
                                    @Html.HiddenFor(v => Model.OrderProducts[i].ProductId)
                                    @Html.HiddenFor(v => Model.OrderProducts[i].Quantity)
                                }

                                @Html.HiddenFor(x => x.UserId)
                                @Html.HiddenFor(x => x.BookedDeliveryDate)


                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        @Html.DropDownListFor(m => m.Status, Html.GetEnumSelectList<DeliCode.Library.Models.OrderStatus>(), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputFirstName">Förnamn</label>
                                        <input type="text" class="form-control" asp-for="@Model.FirstName" id="inputFirstName" placeholder="@Model.FirstName">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputLastName">Efternamn</label>
                                        <input type="text" class="form-control" asp-for="@Model.LastName" id="inputLastName" placeholder="@Model.LastName">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="inputEmail">Email</label>
                                        <input type="email" class="form-control" asp-for="@Model.Email" id="inputEmail" placeholder="@Model.Email">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputAddress">Adress</label>
                                        <input type="text" class="form-control" asp-for="@Model.Address" id="inputAddress" placeholder="@Model.Address">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputZipCode">Postnummer</label>
                                        <input type="text" class="form-control" asp-for="@Model.ZipCode" id="inputZipCode" placeholder="@Model.ZipCode">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCity">Stad</label>
                                        <input type="text" class="form-control" asp-for="@Model.City" id="inputCity" placeholder="@Model.City">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputCountry">Land</label>
                                        <input type="text" class="form-control" asp-for="@Model.Country" id="inputCountry" placeholder="@Model.Country">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="inputPhone">Telefonnummer</label>
                                        <input type="text" class="form-control" asp-for="@Model.Phone" id="inputPhone" placeholder="@Model.Phone">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="inputNotes">Extra information</label>
                                        <textarea class="form-control" asp-for="@Model.ShippingNotes" id="inputNotes" placeholder="@Model.ShippingNotes"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Spara ändringar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@{

}
