
<div class="card">
    <div class="card-content">
        <div class="card-body">
            <h4 style="color: #5e676f">
                Varukorg
                <svg class="float-right bi bi-cart4" style="        color: orangered
" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                </svg>
            </h4>

            @foreach (var item in CartModel.Items)
            {
                <ShowCartItem Item="@item" />
            }
            <hr />

            @if (DeliveryMethod.Key != null)
            {
                <h4 style="color: #5e676f">Vald fraktmetod</h4>
                <ul>
                    <li class="text-muted">@DeliveryMethod.Key <label class="font-weight-bold">@DeliveryMethod.Value :-</label></li>
                    <li class="text-muted" style="list-style-type: none;">@OrderModel.BookedDeliveryDate?.ToString("yyyy-MM-dd")</li>
                </ul>
                <hr />
            }


            <div class="text-muted font-weight-bold">@OrderModel.FirstName @OrderModel.LastName</div>
            <div class="text-muted">@OrderModel.Address</div>
            <div class="text-muted">@OrderModel.ZipCode @OrderModel.City</div>
            <div class="text-muted">@OrderModel.Country</div>
            <div class="text-muted">@OrderModel.Email</div>
            <div class="text-muted">@OrderModel.Phone</div>
            <div class="text-muted">@OrderModel.ShippingNotes</div>

            <hr />
            Total: <span class="font-weight-bold" style="color: forestgreen">@OrderModel.TotalPrice() :-</span>
            @if(CartModel.Items.Count > 0)
            {
                <button class="btn btn-danger" style="float:right" onclick="DeleteCart()">Töm varukorg</button>
            }
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Cart CartModel { get; set; }

    [Parameter]
    public Order OrderModel { get; set; }

    [Parameter]
    public KeyValuePair<string, decimal> DeliveryMethod { get; set; }
}
