@model DeliCode.Web.Models.Cart
@{
}

<center>
    <h1>Bekräfta din order</h1>
</center>
<br />

<div class="row">

    <div class="col-md-6">
        <center>
            <b>Antal produkt/produkter: @Model.Items.Count</b>
            <br />
            <br />
            @foreach (var product in Model.Items)
            {
                <div class="row">
                    <img src="@product.Product.ImageUrl" style="height:6rem; width:8rem;" />
                    <p> @product.Product.Name <b>Antal: </b> @product.Quantity</p>
                </div>
                <br />
                <p style="border:1px; border-style:solid; border-color:#bcbcbc;"></p>

            }
        </center>
        <br />
        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary" style="float:left">Fortsätt handla</a>
        <p style="float:right">Summa: @Model.Total</p>
    </div>

    <div class="col-md-6">
        <form asp-controller="Order" asp-action="ConfirmOrder">
            <center>
                <b>FRAKTSÄTT</b>
                <p style="border:1px; border-style:solid; border-color:#bcbcbc;"></p>
                <p><input type="radio" name="shipment" value="store" checked /> HÄMTA I BUTIK</p>
                <p><input type="radio" name="shipment" value="send" /> SKICKA TILL MIG</p>
                <p style="border:1px; border-style:solid; border-color:#bcbcbc;"></p>

                <b>BETALSÄTT</b>
                <p style="border:1px; border-style:solid; border-color:#bcbcbc;"></p>
                <p><input type="radio" name="payment" value="inStore" checked /> BETALA I BUTIK</p>
                <p><input type="radio" name="payment" value="swish" /> SWISH</p>
                <p style="border:1px; border-style:solid; border-color:#bcbcbc;"></p>

                <b>Information</b>
                <p style="border:1px; border-style:solid; border-color:#bcbcbc;"></p>
                <b>UserId: </b>
                <br />
                <b>Email: </b>
                <p style="border:1px; border-style:solid; border-color:#bcbcbc;"></p>

                <button class="btn btn-outline-primary" type="submit">Bekräfta</button>
            </center>
        </form>
    </div>

</div>
